body {
    margin: 0px;
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #666565;
    background-color: #000;
    width: 100%;
}

nav .container-fluid .navbar-brand {
    color: #00b074;
    font-size: 35px;
    font-weight: 700;
    margin-left: 20px;
    overflow: hidden;
}

nav #navbarSupportedContent {
    margin-left: 130px;
    margin-top: 10px;
    font-weight: 600;
    transition: 0.5s;
}

@media (max-width: 600px) {
    nav {
        width: 375px;
    }
}

nav #navbarSupportedContent .nav-link {
    color: #000;
    transition: 0.5s;
}

nav #navbarSupportedContent .nav-link:hover {
    color: #00b074;
}

nav .navbar-nav {
    width: 900px;
}

nav .navbar-nav .nav-item {
    padding: 10px;
}

nav .navbar-nav .post {
    background-color: #00b074;
    text-align: center;
    width: 210px;
    height: 75px;
    margin-top: -10px;
    padding-top: 23px;
    transition: 0.7s;
}

nav .navbar-nav .post a {
    text-decoration: none;
    color: #fff;
}

nav .navbar-nav .post:hover {
    background-color: #04c081;
}

.slide .text h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    padding-left: 50px;
}

@media (max-width:600px) {
    .slide .text img {
        min-width: 200px;
        min-height: 10px;
    }
}

.slide .text nav {
    padding-left: 50px;
    padding-top: 30px;
}

.slide .text nav a {
    text-decoration: none;
    color: #00b074;
    transition: 0.5s;
    font-weight: 600;
}

.slide .text nav a:hover {
    color: #00ffaa;
    transition: 0.5s;
}

.our-client {
    margin: 40px;
    margin-top: 260px;
  }
  .our-client h1 {
    text-align: center;
    font-weight: 700;
  }
  .our-client .last-cards {
    margin: 15px;
  }
  .our-client .card-1 {
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.123);
    width: 200px;
    margin: 10px;
    display: inline-block;
    margin-top: 50px;
    padding: 15px;
    transition: 0.6s;
    background-color: #effdf5;
  }
  .our-client .card-1:hover {
    border: 1px solid lightgray;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.08);
    transition: 0.6s;
    background-color: #00b074;
    color: #fff;
  }
  .our-client .card-1 i {
    font-size: 48px;
    color: #00b074;
    transition: 0.6s;
    width: 180px;
    height: 80px;
  }
  .our-client .card-1 i:hover {
    color: white;
    transition: 0.6s;
  }
  .our-client .card-1 .intro {
    float: right;
    margin-right: 20px;
  }
  .our-client .card-1 img {
    width: 50px;
  }
.end {
    background-color: #2b3940;
    overflow: hidden;
    margin-top: 100px;
    transition: 0.9s;
  }
  .end .Company {
    float: left;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: 700;
  }
  
  .end .Company a {
    display: block;
    padding-top: 10px;
    text-decoration: none;
    color: #979797;
    transition: 0.6s;
  }
  
  .end .Company a:hover {
    color: #00b074;
    transition: 0.6s;
  }
  .end .Quick-Links a {
    display: block;
    padding-top: 10px;
    text-decoration: none;
    color: #979797;
    transition: 0.6s;
  }
  .end .Quick-Links a:hover {
    color: #00b074;
    transition: 0.6s;
  }
  .end .Quick-Links {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: 700;
  }
  .end h5 {
    color: #fff;
    font-size: 40px;
  }
  .end .Contact {
    float: right;
    margin-top: -225px;
    margin-right: 60px;
  }
  .end .Contact p {
    color: #999898;
    font-weight: 600;
  }
  .end .Contact a {
    margin: 2px;
    transition: 0.7s;
  }
  .end .Contact .logo a i {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    background-color: #2b3940;
    transition: 0.7s;
    border-radius: 3px;
  }
  .end .Contact .logo i:hover {
    color: #00b074;
    background-color: #fff;
    transition: 0.7s;
  }
  .end .site {
    margin-top: 300px;
    padding: 30px;
  }
  .end .site hr {
    color: #999898;
  }
  .end .site .left {
    float: left;
  }
  .end .site .left a {
    color: #fff;
  }
  
  .end .site .left p {
    color: #999898;
  }
  .end .site .right {
    float: right;
    color: #666565;
  }
  .end .site .right a {
    color: #fff;
    padding-right: 10px;
    text-decoration: none;
  }
  .end .site .right ul li {
    display: inline-block;
  }